
.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:85px;
    border-width:0px;
    color:#c92200;
    border-color:#e65f44;
    font-weight:bold;
    border-top-left-radius:42px;
    border-top-right-radius:42px;
    border-bottom-left-radius:42px;
    border-bottom-right-radius:42px;
    box-shadow:inset 17px -20px 50px -14px #f9eca0;
    text-shadow:inset 0px 1px 0px #ded17c;
    background:linear-gradient(#f0c911, #f2ab1e);
  }
  
  .buttonClass:hover {
    background: linear-gradient(#f2ab1e, #f0c911);
  }
                